.heading{
    text-align: center;
    padding: 15px;
    color:#af2218;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 30px;
    background-color: transparent;
    margin-bottom: 15px;
    }